body {
	margin:0px;
	font-family: 'Lato', sans-serif;

}


/*This is the top navigation*/

nav{
	position: relative;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	height: 40px;
	background-color: #cdcbcd;
	text-align: right;

}

.logo{
    
    position: absolute;
    left: 10px;
    top: 17px;
    font-size: 20px;

}


ul{
    list-style-type: none;
    margin: -14px;
    position: relative; 
    right: 20px; 
}

li {
    padding: 20px 10px;
    text-decoration: none;
    font-size: 20px;
    color: #adabad;

}

nav li{
    display: inline-block;
    padding: 20px 10px;
    text-decoration: none;
    font-size: 20px;

 }

 a:link {
    text-decoration: none;
    color: #5b0762;
    margin:10px;
}

a:hover{
    color: #a076b4;
}


label{
	font-size: 20px;
    display: block;
    margin-bottom: 8px;

}

/*This is the search jobs section*/

 form{
    width: 100%;
 	margin: 95px;
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
 }

 input{

    display:inline-block;
    background-color: transparent;
    border: 1px solid;
    border-radius: 2%;
    height: 20px;
    width: 50%;
    height: 35px;
    color: #cdcbcd;
 }

 .search{

 	position: relative;
	width: 390px;
	height: 40px;
	left: 95px;
	border: 1px solid;
	border-color: #cdcbcd;
	border-radius: 2%;
	margin-top: 5px;
	text-align: right;
		

 }

  .search-button{
    width:25px;
    height:30px;
    padding:1px 3px;
    vertical-align: bottom;

 }

 img{
    position: relative;
    left: 50px;
    width: 38px;
    height: 38px;
    border: 1px solid;
    border-color: #cdcbcd;
    border-radius: 2%;
    margin: -1px;
    padding: 1px;
 }

 /*This is the search navigation section*/

.search-nav{
    border: solid 2px #cdcbcd;
    width: 250px;
    padding: 10px;
    border-radius: 2%;
    text-align: center;
    margin-left: 95px;


} 

.search-nav span{
    
    border-right: solid 2px #cdcbcd ;
    border-left: solid 2px #cdcbcd ;
    padding: 12px;
}

 /*This is the job list section*/


.final-list{
    margin: 95px;
    margin-top: 10px;
    margin-bottom: 0px;
 }


 .final-list li{	
 	display: block;
	list-style-type: none;
	margin: -7px;
    position: relative;
    right: 20px;

 }

 .final-list ul{
    list-style-type: none;
    margin: -3px;
    line-height: 0.5;
    margin-top: 30px;

 }

  .final-list a{
	color: blue;

  }

  .final-list a:hover{
    color: #648abf;

  }




